.container
  %h1 CAMPUS LOCATIONS
  .line-break 
    #one
  .locations
    .row
      .col-md-3
        %i{class: "fa fa-graduation-cap"}
        %h4 Brock University
        %p Saint Catharines, ON
      .col-md-3
        %i{class: "fa fa-graduation-cap"}
        %h4 Carleton University
        %p Ottawa, ON
      .col-md-3
        %i{class: "fa fa-graduation-cap"}
        %h4 Lakehead University
        %p Thunder Bay, ON
      .col-md-3
        %i{class: "fa fa-graduation-cap"}
        %h4 McMaster University
        %p Hamilton, ON
    .row
      .col-md-3
        %i{class: "fa fa-graduation-cap"}
        %h4 OCAD University
        %p Toronto, ON
      .col-md-3
        %i{class: "fa fa-graduation-cap"}
        %h4 Queen's University
        %p Kingston, ON
      .col-md-3
        %i{class: "fa fa-graduation-cap"}
        %h4 Ryerson University
        %p Toronto, ON
      .col-md-3
        %i{class: "fa fa-graduation-cap"}
        %h4 Trent University
        %p Peterborough, ON
    .row
      .col-md-3
        %i{class: "fa fa-graduation-cap"}
        %h4 UOIT
        %p Oshawa, ON
      .col-md-3
        %i{class: "fa fa-graduation-cap"}
        %h4 UWO
        %p London, ON
      .col-md-3
        %i{class: "fa fa-graduation-cap"}
        %h4 University of Guelph
        %p Guelph, ON
      .col-md-3
        %i{class: "fa fa-graduation-cap"}
        %h4 University of Ottawa
        %p Ottawa, ON
    .row
      .col-md-3
        %i{class: "fa fa-graduation-cap"}
        %h4 University of Toronto
        %p Toronto, ON
      .col-md-3
        %i{class: "fa fa-graduation-cap"}
        %h4 University of Waterloo
        %p Waterloo, ON
      .col-md-3
        %i{class: "fa fa-graduation-cap"}
        %h4 University of Windsor
        %p Windsor, ON
      .col-md-3
        %i{class: "fa fa-graduation-cap"}
        %span{style: "font-size: 13px !important;"}
          %h4 WLU
        %p Waterloo, ON
    .row
      .col-md-3
        %i{class: "fa fa-graduation-cap"}
        %h4 York University
        %p Toronto, ON