%nav.bottom_nav
  %a{:href => new_listing_path}
    %div.add_listing
      %i{:class => "fa fa-plus-circle fa-lg"}
      Add New Listing
  %a{:href => my_listings_path}
    %div.my_listing
      %i{:class => "fa fa-briefcase fa-lg"} &nbsp
      My Listings