/ Form for picture submission
= simple_form_for @listing, html: { multipart: true } do |f|
  .form-group
    = f.file_field :"image[]", type: :file, multiple: true, :class => "form-control"
    %div.actions
      = f.button :submit, :class => "btn btn-primary"