/ Will be making this more custom in the future

.primary-user-campus
  There 
  = @listings_count == 1 ? "is" : "are" 
  Currently
  = pluralize(@listings_count, "Listing")
  at
  #primary-user-campus-name
    = current_user.campus