/ Top Main Nav
= render 'nav_1'
/ Top Sub Nav 2
= render 'nav_2'
/ Shows the University
- if current_user.present?
  = render 'primary_campus'

/ Show All Listings
.listings_wrapper
  = render 'show_all_listings'