.site-wrapper
  .site-wrapper-inner
    .cover-container
      .masthead.clearfix
        .inner
          .masthead-brand
            %img{:src => "/images/logo.png", :style => "width: 60%;", :class => "logo"}
          %nav
            %ul.nav.masthead-nav
              %li
                %a{:href => about_us_path} About Us
              %li
                %a{:href => new_user_session_path} Sign In
      .inner.cover
        .cover-heading 
          %h1 Campus Grabs
          %p Buy, Sell, and Trade things around Campus

        %a.btn.btn-lg.btn-default{:href => new_user_registration_path} Get Started
      .mastfoot
        .inner
          %p Sam Kim