/ Main heading with logo / sign in / sign up
.site-wrapper
  .welcome-logo
    = link_to listings_path do
      %img{:src => "/images/logo.png", :style => "width: 60%;", :class => "logo"}

  .welcome-sentences
    %span#sentences
  
  .welcome-get-started
    %a.btn.btn-lg.btn-default{:href => listings_path} Get Started
        
  .welcome-footer
    Made by Sam Kim with
    %a{:href => "https://github.com/hellosamkim/CampusGrabs"}
      %i{:class => "fa fa-heart fa-xs", :style => "color: #FF5F4D;"}