/ Top Main Nav
= render '/listings/nav_1'

/ User details / profile picture
.user-details.current-user
  Currently viewing 
  = @user.username + "'s"
  profile
// Profile picture
.profile-picture
  = image_tag @user.avatar_url
      
