/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require 'masonry/transitions'
 *= require 'masonry/infinitescroll'
 *= require_tree .
 *= require_self
 */
 
@import "bootstrap-sprockets";
@import "bootstrap";

.page-wrapper {
  background-image: linear-gradient(rgba(102, 102, 102, 0.5), rgba(102, 102, 102, 0.5)), url("/images/background2.png");
  height: 100%;
}

html,
body {
  height: 100%;
  color: #555;
  background-color: #F3F1EF;
  background-position: 50% 50%;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.breakline {
  background-color: #666;
}

// alert info msg style + current-user profile viewing display
.alert-info, .current-user-show {
  background-color: rgba(101, 153, 255, 0.7);
  border-color: rgba(101, 153, 255, 0.7);
  border-radius: 10px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  font-size: 1.5rem;
  text-align: center;
  color: #FEFEFE;
  top: 40px;
  z-index: 1005;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  opacity: 0.97;
  line-height: 10px;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}

.alert, .current-user-show {
  margin-bottom: 0px;
  height: 40px;
}

// Set Slick Carousel
.listing-image.slick-initialized.slick-slider {
  width: 30%;
}

// Nav-menu change "active" colour
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: rgba(255, 153, 0, 0.9);
  background-color: rgba(102, 102, 102, 0.5);
}
// Masonry Listings
.box {
  width: 240px;
  margin-bottom: 10px;
}

.transitions-enabled.masonry,
.transitions-enabled.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
     -moz-transition-duration: 0.7s;
      -ms-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.transitions-enabled.masonry {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.transitions-enabled.masonry  .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}

#listings-container.transitions-enabled {
  margin-left: auto;
  margin-right: auto;
}

.panel {
  border-radius: 5px;
}

.panel-body {
  padding: 0;
}

.panel-title {
  width: 100%;
  margin: 2px;
  text-align: center;
}

.box {
  border-radius: 5px;
}

@media (max-width: 767px) {
  .box {
    width: 360px;
  }
}

// Add Listing shadow
#listing-shadow {
  -webkit-box-shadow: 0px 3px 3px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 3px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 3px -1px rgba(0,0,0,0.75);
}

// Align listings to the center, and make height of row bigger
.row {
  max-width: 100%;
  margin: 0;
}

// Makes nav links full height
.dropdown {
  height: 100%;
}

// Nav bar links
.navbar-default .navbar-nav > li, .nav-current-user {
  font-size: 1.7rem;
  height: 100%;
}

.navbar-default .navbar-nav > li:hover {
  color: rgba(255, 153, 0, 0.6)
}

.container-fluid {
  padding: 0;
}

.nav-current-user {
  margin-right: 15px;
  font-size: 35px;

  a {
    color: rgba(255, 153, 0, 0.8);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  a:hover {
    color: rgba(255, 153, 0, 0.6);
  }
}

.fa.fa-briefcase, .fa.fa-cog, .fa.fa-sign-out {
  color: rgba(101, 153, 255, 0.8);
}

.nav-current-user:hover {
  color: rgba(255, 153, 0, 0.6);
  cursor: initial;
}

// Mobile nav toggled Menu, and clear text decoration for links
a:hover {
  text-decoration: none;
}

.navbar-default .navbar-toggle {
  border-color: #cbbfb8;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #cbbfb8;
}