/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require 'masonry/transitions'
 *= require 'masonry/infinitescroll'
 */
 
@import "bootstrap-sprockets";
@import "bootstrap";

// Masonry Listings
.box {
  width: 240px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;  
}

#listings-container.transition-enabled.infinite-scroll.clearfix {
  margin-left: auto;
  margin-right: auto;
}

// Align listings to the center, and make height of row bigger
.row {
  max-width: 100%;
  margin: 0;
}

// Makes nav links full height
.dropdown {
  height: 100%;
}

// Nav bar links on right
.navbar-default .navbar-nav > li > a {
  font-size: 1.7rem;
  height: 100%;
}

// Below two css borders are for mobile nav toggles
a:hover {
  text-decoration: none;
}

.navbar-default .navbar-toggle {
  border-color: #cbbfb8;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #cbbfb8;
}

// // // // // // // This is for the Welcome page // // // // // // // //
/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  color: #333;
  background-color: #F4EDE9;
  background-position: 50% 50%;
  background-size: cover;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  text-align: center;
  background-image: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url("/images/background.jpeg");
  text-shadow: 0 1px 3px rgba(0,0,0,0.5);
  background-position: 50% 50%;
  background-size: cover;
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

.inner {
  padding: 30px;
}

/*
 * Header
 */

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #333; /* IE8 proofing */
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #333;
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #333;
  border-bottom-color: #333;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}

/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

.cover-heading h1 {
  font-size: 5rem;
  color: #422A05; 
}

.cover-heading h3 {
  font-size: 3rem;
  color: #FDFBCA;
}

/*
 * Footer
 */

.mastfoot {
  color: #333; /* IE8 proofing */
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 80%;
  }
}
// // // // // // // Above is for the Welcome page // // // // // // // //