.each-listing-heading {
  position: absolute;
  width: 40%;
  right: 10%;
  margin-top: 50px;
}

.listing-image {
  position: absolute;
  left: 10%;
  margin-top: 50px;
  text-align: center;
}

img.each-image {
  max-width: 100%;
  max-height: 350px;
  height: 100%;
}