.navbar.navbar-default {
  background-color: #cbbfb8;;
  border-color: #cbbfb8;;
  border-radius: 0;
  margin-bottom: 0px;
}

.nav-logo {
  position: relative;
  margin-top: -3.6%;
  margin-left: 7%;
  width: 55%;
  opacity: 0.3;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;  
}

.nav-logo:hover {
  opacity: 0.8;
}

.row {
  max-width: 100%;
}

.thumbs {
  height: 200px;
}

.nav {
  height: 75px
}

.breakline {
  height: 1%;
  background-color: #867266;
  padding: 0;
  margin: 0;
}

ul.nav.navbar-nav#nav-position {
  height: 75px;
}

@media (max-width: 767px) {
  .navbar-brand {
    position: absolute;
    width: 300px;
  }

  .nav-logo {
    width: 50%;
  }
}

@media (min-width: 767px) {
  #nav-position {
    float: right;
  }

  li#only-mobile {
    display: none;
  }
}