// Nav bars
.navbar.navbar-default, {
  background-color: #cbbfb8;;
  border-color: #cbbfb8;;
  border-radius: 0;
  margin-bottom: 0px;
}

.nav-logo {
  position: relative;
  margin-top: -3.8%;
  margin-left: 7%;
  width: 40%;
  opacity: 0.3;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;  
}

#nav-menu {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

#nav-menu:hover {
  background-color: #c0b2a9;
}

#nav-drop-menu {
  margin: 12px 0 0 -55px;
  font-size: 1.5rem;
  border-radius: 5px;
  padding: 10px;
}

.nav-logo:hover {
  opacity: 0.8;
}

.breakline {
  height: 2px;
  background-color: #867266;
  padding: 0;
  margin: 0;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
}

// Nav 2 styling 

.bottom_nav {
  height: 60px;
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.30);
}

.add_listing {  
  float: right;
  width: 16%;
  line-height: 60px;
  vertical-align: middle;
  text-align: center;
  opacity: 0.6;
  font-size: 1.7rem;

  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.add_listing:hover, .my_listing:hover {
  opacity: 0.9;
}

a:hover {
  text-decoration: none;
}

@media (max-width: 767px) {
  .add_listing {
    width: 150px;
    margin-right: 18px;
  }
}

// Front Page with each Listings

.thumbs {
  width: 100%;
  border-radius: 5px;
}

.listings_wrapper {
  padding-top: 30px;
  margin-top: 2.2px;
  padding-bottom: 8px;
  background-color: #F3F1EF;
}

@media (max-width: 767px) {
  .navbar-brand {
    position: absolute;
    width: 300px;
  }

  .nav-logo {
    width: 50%;
  }
}

@media (min-width: 767px) {
  #nav-position {
    float: right;
  }

  li#only-mobile {
    display: none;
  }
}