// Search Pages
.search_wrapper {
  background-image: linear-gradient(rgba(102,102,102, 0.5),rgba(102,102,102, 0.5)), url("/images/background2.png");
}

.listings_wrapper#search {
  padding-top: 30px;
  height: 50%;
  width: 100%;
  background-image: linear-gradient(rgba(102,102,102, 0.5),rgba(102,102,102, 0.5)), url("/images/background2.png");
}

.total_search_results {
  padding-top: 10px;
  text-align: center;
  font-size: 3rem;
  color: #FEFEFE;
}