// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-details-wrapper {
  text-align: center;
  width: 100%;
}

.user-details {
  width: 40%;
  height: 300px;
  border-radius: 15px;
  margin-top: 40px;
  background-color: #E4E9EB;
  margin-left: auto;
  margin-right: auto;
}