/* Blinking Cursor for sentences */
.typed-cursor{
  font-size: 36px;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/* Get started button */
.welcome-get-started {
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  left: 0;
  right: 0;
  width: 150px;
  top: 55%;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

/* Site wrapper and includes background picture */
.site-wrapper {
  text-align: center;
  background-image: linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.4)), url("/images/background.jpeg");
  text-shadow: 0 1px 3px rgba(0,0,0,0.5);
  background-position: 50% 50%;
  background-size: cover;
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

/* Logo on top left corner */
.welcome-logo {
  width: 45rem;
  position: relative;
  margin-top: 10px;
  margin-left: 25px;
}

/* Welcome sentences */
.welcome-sentences {
  border: solid 2px rgba(41, 41, 41, 0.6);
  border-radius: 5px;
  background-color: rgba(41, 41, 41, 0.5);
  display: inline-block;
  padding-left: 25px;
  padding-right: 25px;
  height: 70px;
  line-height: 70px;
  color: #FEFEFE;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 40%;
  left: 0;
  right: 0;
  width: 50%;

  #sentences {
    margin-top: 15px;
    font-size: 36px;
  }
}

/* Footer */
.welcome-footer {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}