/* Login and Registration */
.modal-body {
  text-align: left !important;
}

// Login form
.welcome-user-auth {
  width: 100%;
  margin-top: 270px;
  color: #FEFEFE; 
  text-align: left;
  .welcome-login {
    width: 50%;
    float: left;
    h2 {
      text-align: center;
      width: 65%;
      margin-left:auto;
      margin-right: auto;
    }
  }
  .welcome-register {
    width: 50%;
    float: right;
    h2 {
      text-align: center;
      width: 65%;
      margin-left:auto;
      margin-right: auto;
    }
  }
}

// Sign Up Form
.welcome-register-form {
  width: 75%;
  height: 45px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  .input-group.login, .input-group.register {
    width: 250px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7px;
    .input-group-addon {
      width: 45px;
      opacity: 0.8;
      color: #FEFEFE;
      background-color: #555;
      border: #444;
    }
  }
  .input-group.register {
    height: 33px;
    width: 240px;
  }
}

.col-md-6.welcome {
  padding-left: 0;
  padding-right: 0;
}

.welcome-login-form {
  width: 75%;
  height: 45px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  .input-group {
    width: 250px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7px;
    .input-group-addon {
      width: 45px;
      opacity: 0.8;
      color: #FEFEFE;
      background-color: #555;
      border: #444;
    }
  }
}

// Login and Register input styling
input#user_email, input#user_password, input#user_username, input#user_first_name, input#user_last_name, input#user_password_confirmation, select#user_campus {
  position: absolute;
  background-color: rgba(246, 246, 246, 0.6);
  font-weight: bold;
  font-size: 1.7rem;
  border: none;
  width: 205px;
  height: 100%;
  border-radius: 0px 4px 4px 0px;
}

select#user_campus {
  width: 170px;
  color: #555;
  border-color: rgba(85, 85, 85, 0.9);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(85, 85, 85, 0.9);
}

select#user_campus:focus {
  outline: 0 none;
}

.welcome-forgot-pw { 
  position: absolute;
  text-align: right;
  right: 5px;
  top: 0;
  width: 15px;
  color: #FEFEFE;
  z-index: 1000;
  opacity: 0.7;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  a {
    color: #FEFEFE;
  }
}

.welcome-button-login, .welcome-button-register {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.welcome-button-register {
  margin-left: 0px;
}

#welcome-login-button, #welcome-register-button {
  width: 250px;
  color: #FEFEFE;
  font-size: 1.6rem;
  border-color: rgba(85, 85, 85, 0.6);
  background-color: rgba(85, 85, 85, 0.6);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#welcome-register-button {
  position: absolute;
  left: 0px;
  width: 215px;
}

#welcome-register-button:focus, #welcome-register-button:hover, #welcome-login-button:focus, #welcome-login-button:hover {
  background-color: rgba(85, 85, 85, 0.9);
  outline: 0 none;
  border-color: rgba(85, 85, 85, 0.9);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(85, 85, 85, 0.9);
}

.welcome-forgot-pw:hover, .welcome-forgot-pw a:hover {
  color: #FEFEFE;
  opacity: 1;
  cursor: pointer;
}

/* Blinking Cursor for sentences */
.typed-cursor{
  font-size: 36px;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/* Get started button */
.welcome-get-started {
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  left: 0;
  right: 0;
  width: 150px;
  top: 55%;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

/* Site wrapper and includes background picture */
.site-wrapper {
  text-align: center;
  background-image: linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.4)), url("/images/background.jpeg");
  text-shadow: 0 1px 3px rgba(0,0,0,0.5);
  background-position: 50% 50%;
  background-size: cover;
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

/* Logo on top left corner */
.welcome-logo {
  width: 45rem;
  position: relative;
  margin-top: 10px;
  margin-left: 25px;
}

/* Welcome sentences */
.welcome-sentences {
  border: solid 2px rgba(41, 41, 41, 0.6);
  border-radius: 5px;
  background-color: rgba(41, 41, 41, 0.5);
  display: inline-block;
  padding-left: 25px;
  padding-right: 25px;
  height: 70px;
  line-height: 70px;
  color: #FEFEFE;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 35%;
  left: 0;
  right: 0;
  width: 50%;

  #sentences {
    margin-top: 15px;
    font-size: 36px;
  }
}

/* Footer */
.welcome-footer {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}