.col-md-6.welcome.center {
  font-size: 1rem;
}

input#user_facebook {
  font-size: 1.2rem;
}

input#user_facebook, input#user_twitter {
  border-radius: 0 4px 4px 0;
}

.welcome-register-form-2.prof-settings {
  width: 50%;
}

select#user_campus {
  font-size: 1.3rem;
}

input#user_avatar {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}
input#user_current_passsowrd.password.required.form-control {
  border-radius: 0 4px 4px 0;
}

.input-group.register {
  h4 {
    margin-top: 0px;
    color: rgba(255, 153, 0, 0.8);
  }
  p {
    font-size: 1.3rem;
  }
}

.col-md-6.welcome {
  p {
    font-size: 1.3rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: rgba(101, 153, 255, 0.8);
  }
}
