.welcome-login-2, .welcome-register-2 {
  text-align: center;
}

.welcome-register-2 {
  margin-bottom: 30px;
}

.welcome-register-form-2 {
  padding-top: 30px;
}

#user-password {
  .help-block {
    display: inline !important;
    position: absolute !important;
    margin-top: 2px !important;
    margin-bottom: 10px !important;
    width: 250px !important;
  }

  p.help-block {
    top: 17px !important;
    font-size: 1.2rem !important;
    margin-left: 18px !important;
    color: #d38f8e !important;
  }  
}

select#user_campus {
  left: 45px !important;
}

div.alert.alert-danger {
  margin-bottom: 30px !important;
  border-radius: 15px;
}

.sign-up-wrapper {

}